main {
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
    margin-left: auto;
    margin-right: auto;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: #111;
}

h1 {
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 6.5rem;
    line-height: 1.25;
}
h2 {
    font-style: italic;
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 4rem;
    line-height: 1.25;
}
p {
    margin-top: 3rem;
    margin-bottom: 3rem;
    vertical-align: baseline;
    font-size: 2.5rem;
    line-height: 5rem;
}
math {
    font-size: 3.5rem;
}
.math-container {
    overflow: auto; 
    scrollbar-width: none;
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
@media (min-width:1025px)  {
    main {
        width: 87.5%;
        max-width: 700px;
    }
    h1 {
        font-size: 3.2rem;
    }
    h2 {
        margin-top: 2.1rem;
        margin-bottom: 1.4rem;
        font-size: 2.2rem;  
    }
    p {
        margin-top: 1.4rem;
        margin-bottom: 1.4rem;
        font-size: 1.4rem;
        line-height: 2rem;
    }
    math {
        font-size: 1.6rem;
    }
    .math-container {
        overflow: visible;
    }
}