main {
    font-family: sans-serif;
    font-size: 2.5vw;
    line-height: 7.5vw;
    margin: 0 auto;
    max-width: 80%;
}
math {
    font-size: 5vw;
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
@media (min-width:1025px)  {
    main {
        font-size: 1.2vw;
        line-height: 2vw;
        max-width: 55%;
    }
    math {
        font-size: 1.5vw;
    }
}